/*#232742 (cor do botão) e possívelmente do background também*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  'Roboto', sans-serif;
}

body{
    background-color: #232742;
    color:#232742;
}

footer{
    display: flex;
    justify-content: center;
    color: #fff;
    height: 100px;
    width: 100%;
    margin-top:  5.5rem;
    text-align: center; 
}

footer a {
    text-decoration: underline;
    color:#fff;
    
}


@media (min-width: 768px) and (max-width: 1280px){
    body{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
    }
   
}

@media (min-width: 0) and (max-width: 768px){
    main{
        width: 100vw;
        height: 100vh;
    }
}


