.formulario{
    margin: 22px 0 0 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
@media(min-width: 0px) and (max-width: 768px){
    .formulario{
        padding: 0 20px 0px 10px ;
    }
}