.card{
    border-radius: 18px;
    justify-content: center;
    column-gap: 2rem;
    background-color: #ffff;
    height: 480px;
    width: 55%;
    padding: 15px 22px;
    margin: 64px auto;
}